<div>
    <h3>MODIFICA IL TUO PRODOTTO</h3>
    <form [formGroup] = "prodottoForm" (ngSubmit)="onSubmit()">
        <table>
        <tr><td>ID</td><input formControlName="id" [ngModel]="data.id"/> (inserisci l'id del prodotto da modificare)</tr>
        <tr><td>NOME</td><input formControlName="nome" [ngModel]="data.nome"/></tr>
        <tr><td>TIPOLOGIA</td><input formControlName="tipologia" [ngModel]="data.tipologia"/></tr>
        <tr><td>PREZZO</td><input formControlName="prezzo" [ngModel]="data.prezzo"/></tr>
    </table>
        <button type="submit">SALVA</button>
    </form>
</div>
