button {
    border: 1px solid;
    border-color: red;
    width: 150px;
    background-color: yellow;
    margin-left: 50px;
}

input {
    border: 1px solid;
    border-color: green;
    width: 200px;
    margin-left: 15px;
}
p {
    padding: 15px;
}